/* Universal Style */
html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  max-width: 64rem;
  margin: 0 auto;
}

.conteiner {
  display: flex;
}
/* Header section */
header {
  height: 4rem;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid gray;
}

.logo {
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.7rem;
  margin-left: 1.5rem;
}

.logo strong {
  font-weight: bold;
}

header nav {
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

header a {
  margin-left: 1rem;
}

/* Banner Section */
.banner {
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #ddd;
  max-width: 100%;
}

.banner-image {
  width: 60%;
  overflow: hidden;
  margin-right: 1.5rem;
}

.banner-image img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-info {
  color: #555;
  width: 30%;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

.banner-info p {
  margin: 1rem auto;
}

.banner-button {
  width: 100%;
  background-color: #555;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0;
}

.banner-button a{
  color: white;
}

/* News section */
.news {
  margin: 0 auto;
}
/* main news */
.main-news {
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgrey;
}

.article-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.main-news p {
  margin-bottom: 2rem;
}

aside {
  font-weight: bold;
  font-size: 0.625rem;
}

/* small news conteiner */
.small-news {
  width: 40%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.news-bite {
  flex-flow: row;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.news-info {
  width: 65%;
}

.picture {
  width: 35%;
  padding: 1rem;
}

.picture img {
  width: 100%;
  height: auto;
  display: block;
}


/* Thesis video section */
video {
  width: 60%;
}
