/* Universal Style */
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  max-width: 64rem;
  margin: 0 auto;
  background-color: #fafafa;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #1d1e18;
}

h1,
h2,
 {
  color: #1d1e18;
}

.conteiner {
  display: flex;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .hidden {
    display: flex;
  }
}
/* Header section */
header {
  height: 4rem;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.0625rem;
  background-color: #445e93;
  color: #fafafa;
}

.logo {
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.7rem;
  margin-left: 1.5rem;
  font-weight: 300;
}

.logo strong {
  font-weight: 600;
  color: #1d1e18;
  font-size: 1.125rem;
}

header nav {
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

header a {
  margin-left: 1rem;
  color: #fafafa;
}

header a:hover {
  font-weight: bold;
  color:#fff;
}

@media only screen and (max-width: 480px) {
  nav.mobile {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

/* Banner Section */
.banner {
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #ddd;
  max-width: 100%;
}

.banner-image {
  width: 60%;
  overflow: hidden;
  margin-right: 1.5rem;
}

.banner-image img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-info {
  color: #1d1e18;
  width: 30%;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

.banner-info p {
  margin: 1rem auto;
  letter-spacing: 1.2px;
}

.banner-button {
  width: 100%;
  background-color: rgba(68, 94, 147, 0.75);
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0;
  box-shadow: 5px 5px 2px rgba(68, 94, 147, 0.25);
}


.banner-button a{
  color: #fafafa;
}

.banner-button:hover {
  background-color: #445e93;
  font-weight: bold;
  color: #fff;
  box-shadow: 5px 5px 2px rgba(68, 94, 147, 0.50);
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-flow: column;
    padding: 0;
  }

  .banner-image {
    width: 100%;
    margin: 0;
  }

  .banner-info {
    padding: 2rem 0;
    width: 100%;
  }

  .banner-info h1 {
    margin: 0 1rem 2rem 1rem;
  }

  .banner-info p {
    margin: 0 1rem 1.5rem 1rem;
  }

  .banner-info .banner-button {
    margin: auto 1rem;
    max-width: 90%;
  }

}

/* News section */
.news {
  margin: 0 auto;
}
/* main news */
.main-news {
  width: 60%;
  padding: 2rem 1.5rem;
}

.article-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.main-news p {
  margin-bottom: 2rem;
}

aside {
  font-weight: bold;
  font-size: 0.625rem;
  color: #ff3030;
}


/* small news conteiner */
.small-news {
  width: 40%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid  rgba(68, 94, 147, 0.5);
}

.news-bite:first-child {
  background-color: rgba(68, 94, 147, 0.75);
}

.news-bite:first-child h4 {
  color: #fafafa;
}

.news-bite:first-child p {
  color: #fafafa;
}

.news-bite:first-child a {
  color: #b5b5b5;
}

.news-bite {
  flex-flow: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.news-info {
  width: 65%;
}

.picture {
  width: 35%;
  padding: 1rem;
}

.picture img {
  width: 100%;
  height: auto;
  display: block;
}

h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

.news-info p {
  margin: 0.5rem 0;
  font-size: 0.875rem;
}

.news-info a {
  font-size: 0.75rem;
  color: #1e90ff;
}

.news-info a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .main-news {
    display: none;
  }

  .small-news {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
  }

  .news-bite {
    border: none;
    flex-flow: column;
  }

  .news-bite:first-child {
    color:inherit;
    background-color: inherit;
  }

  .news-bite:first-child a {
    color: #1e90ff;
  }

  .news-bite:first-child p {
    color: inherit;
  }

  .news-bite:first-child h4 {
    color: inherit;
  }

  .news-bite .hidden {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2rem;
  }

  .news-info {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}

/* Courses section */
.courses {
  max-width: 100%;
  flex-wrap: wrap;
  background-color: #ddd;
  padding: 1rem 3.5rem;
}

.courses h2 {
  margin: 1rem;
  display: block;
  width: 100%;
  text-align: center;
}

/* cards formating */
.courses .course {
  flex-flow: column;
  background-color: rgba(68, 94, 147, 0.75);
  width: 28%;
  margin: 1rem;
  color: #fafafa;
}

.course .picture {
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.course .picture img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course  .description {
  padding: 1rem 1rem 1.5rem 1rem;
}

.description p {
  color: #fafafa;
}

/* card description settings */
h5 {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  color: #b5b5b5;
}

@media only screen and (max-width: 480px) {
  .description h5,
  .description p,
  .course .picture {
    display: none;
  }

  .courses {
    flex-flow: column;
    background-color: #445e93;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .courses .course {
    width: 100%;
    background-color: #fafafa;
    margin: 0.5rem auto;
  }

  .courses .course h4 {
    color: #1d1e18;
  }
}

/* Thesis video section */
.thesis {
  flex-wrap: wrap;
  max-width: 100%;
  padding: 2rem 1.5rem;
}
.thesis h2 {
  width: 100%;
  text-align: center;
}

.thesis h4 {
  margin-bottom: 0.5rem;
}

/* main exhibit */
.thesis-main {
  width: 58%;
  margin-right: 1.5rem;
}

.thesis-other {
  flex-flow: column;
  width: 38%;
  border-left: 1px solid  rgba(68, 94, 147, 0.5);
}

video {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

/* Mobile configuration for Main thesis exhibit */
@media only screen and (max-width: 840px) {
  .thesis {
    padding: 0;
  }

  .thesis-main {
    width: 100%;
    margin: 0 auto;
  }
}

/* secondary exhibits */
.secondary:first-child {
  background-color: rgba(68, 94, 147, 0.75);
}

.secondary:first-child h4 {
  color: #fafafa;
}

.secondary:first-child p {
  color: #fafafa;
}

.secondary {
  align-items: center;
  padding: 1rem;
}

.secondary .picture {
  width: 35%;
  overflow: hidden;
  margin-right: 1rem;
  padding: 0;
}

.secondary .picture img {
  width: 100%;
  height: auto;
  display: block;
}

.secondary .content {
  width: 65%;
}


/* Footer settings */
footer {
  border-top: 1px solid #ff3030;
  max-width: 100%;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
}
